.mediaLeftImg {
	border-radius: 10px;
	width: 80px;
	height: 80px;
}

.alignItemsCenter {
	align-items: center;
}

.marginTop3 {
	margin-top: 20px;
	text-align: center;
}

a:hover {
	text-decoration: none !important;
}
